# Data Collection

Note: Since the twitterscraper has locked us out of pulling any more data, these cells are going to have to stay out of order, or the entire process will be lost.

In [1]:
from twitterscraper import query_tweets
import codecs, json
import pandas as pd
import os
import subprocess

In [2]:
test_grid1 = [(40.601962, -73.973578),
 (40.73671007430053, -73.973578),
 (40.87145814860107, -73.973578),
 (41.006206222901604, -73.973578),
 (40.60182568767523, -73.79610277535537),
 (40.73657376197577, -73.79610277535537),
 (40.8713218362763, -73.79610277535537),
 (41.00606991057684, -73.79610277535537),
 (40.6016893760044, -73.61862791262806),
 (40.73643745030495, -73.61862791262806),
 (40.87118552460549, -73.61862791262806),
 (41.00593359890602, -73.61862791262806),
 (40.6015530649875, -73.4411534118139),
 (40.736301139288045, -73.4411534118139),
 (40.87104921358858, -73.4411534118139),
 (41.005797287889116, -73.4411534118139),
 (40.60141675462452, -73.26367927290865),
 (40.73616482892506, -73.26367927290865),
 (40.8709129032256, -73.26367927290865),
 (41.00566097752614, -73.26367927290865),
 (40.60128044491545, -73.08620549590809),
 (40.73602851921599, -73.08620549590809),
 (40.87077659351653, -73.08620549590809),
 (41.00552466781706, -73.08620549590809),
 (40.6011441358603, -72.90873208080801),
 (40.73589221016084, -72.90873208080801),
 (40.87064028446138, -72.90873208080801),
 (41.00538835876191, -72.90873208080801),
 (40.60100782745905, -72.73125902760421),
 (40.73575590175958, -72.73125902760421),
 (40.870503976060114, -72.73125902760421),
 (41.00525205036065, -72.73125902760421),
 (40.6008715197117, -72.55378633629245),
 (40.73561959401224, -72.55378633629245),
 (40.870367668312774, -72.55378633629245),
 (41.005115742613306, -72.55378633629245),
 (40.600735212618254, -72.37631400686851),
 (40.73548328691879, -72.37631400686851),
 (40.870231361219325, -72.37631400686851),
 (41.00497943551987, -72.37631400686851),
 (40.60059890617869, -72.1988420393282),
 (40.73534698047923, -72.1988420393282),
 (40.87009505477976, -72.1988420393282),
 (41.00484312908029, -72.1988420393282),
 (40.60046260039301, -72.02137043366727),
 (40.73521067469355, -72.02137043366727),
 (40.86995874899408, -72.02137043366727),
 (41.00470682329461, -72.02137043366727),
 (40.6003262952612, -71.84389918988155),
 (40.73507436956174, -71.84389918988155),
 (40.869822443862276, -71.84389918988155),
 (41.004570518162815, -71.84389918988155),
 (40.60018999078327, -71.66642830796678),
 (40.7349380650838, -71.66642830796678),
 (40.86968613938433, -71.66642830796678),
 (41.00443421368486, -71.66642830796678),
 (40.600053686959185, -71.48895778791876),
 (40.734801761259725, -71.48895778791876),
 (40.86954983556026, -71.48895778791876),
 (41.004297909860796, -71.48895778791876)];

len(test_grid)

60

In [3]:
test_grid2 = [(40.527428, -76.719904),
 (40.66217607430053, -76.719904),
 (40.79692414860107, -76.719904),
 (40.931672222901604, -76.719904),
 (41.066420297202136, -76.719904),
 (41.201168371502675, -76.719904),
 (41.335916445803214, -76.719904),
 (41.470664520103746, -76.719904),
 (40.52729204484159, -76.54262629794702),
 (40.66204011914212, -76.54262629794702),
 (40.79678819344265, -76.54262629794702),
 (40.93153626774318, -76.54262629794702),
 (41.066284342043716, -76.54262629794702),
 (41.201032416344255, -76.54262629794702),
 (41.33578049064479, -76.54262629794702),
 (41.47052856494532, -76.54262629794702),
 (40.527156090333946, -76.36534895551316),
 (40.66190416463448, -76.36534895551317),
 (40.79665223893502, -76.36534895551317),
 (40.93140031323556, -76.36534895551317),
 (41.06614838753609, -76.36534895551317),
 (41.20089646183663, -76.36534895551317),
 (41.33564453613717, -76.36534895551317),
 (41.470392610437706, -76.36534895551317),
 (40.52702013647707, -76.18807197269423),
 (40.6617682107776, -76.18807197269423),
 (40.796516285078134, -76.18807197269423),
 (40.93126435937867, -76.18807197269423),
 (41.0660124336792, -76.18807197269423),
 (41.20076050797974, -76.18807197269423),
 (41.335508582280276, -76.18807197269423),
 (41.47025665658081, -76.18807197269423),
 (40.526884183270944, -76.01079534948605),
 (40.66163225757148, -76.01079534948605),
 (40.796380331872015, -76.01079534948605),
 (40.93112840617255, -76.01079534948605),
 (41.06587648047309, -76.01079534948605),
 (41.20062455477361, -76.01079534948605),
 (41.33537262907415, -76.01079534948605),
 (41.47012070337469, -76.01079534948605),
 (40.52674823071558, -75.83351908588443),
 (40.661496305016115, -75.83351908588443),
 (40.79624437931665, -75.83351908588443),
 (40.93099245361718, -75.83351908588443),
 (41.065740527917725, -75.83351908588443),
 (41.20048860221826, -75.83351908588443),
 (41.33523667651878, -75.83351908588443),
 (41.469984750819314, -75.83351908588443),
 (40.52661227881096, -75.65624318188522),
 (40.66136035311149, -75.65624318188522),
 (40.79610842741204, -75.65624318188522),
 (40.93085650171257, -75.65624318188522),
 (41.0656045760131, -75.65624318188522),
 (41.20035265031363, -75.65624318188522),
 (41.335100724614165, -75.65624318188522),
 (41.469848798914704, -75.65624318188522),
 (40.52647632755708, -75.47896763748422),
 (40.66122440185761, -75.47896763748422),
 (40.79597247615814, -75.47896763748422),
 (40.93072055045868, -75.47896763748422),
 (41.06546862475921, -75.47896763748422),
 (41.20021669905975, -75.47896763748422),
 (41.334964773360284, -75.47896763748422),
 (41.46971284766082, -75.47896763748422)]

In [71]:
test_grid3 = [(38.519204, -76.184028),
 (38.65395207430054, -76.18402800000001),
 (38.78870014860107, -76.18402800000001),
 (38.923448222901605, -76.18402800000001),
 (39.05819629720214, -76.18402800000001),
 (38.51907738158143, -76.01180406276316),
 (38.65382545588197, -76.01180406276316),
 (38.788573530182504, -76.01180406276316),
 (38.923321604483036, -76.01180406276316),
 (39.05806967878357, -76.01180406276316),
 (38.518950763734885, -75.83958042847405),
 (38.653698838035425, -75.83958042847405),
 (38.78844691233595, -75.83958042847405),
 (38.92319498663649, -75.83958042847405),
 (39.05794306093702, -75.83958042847405),
 (38.51882414646034, -75.66735709712943),
 (38.65357222076088, -75.66735709712943),
 (38.78832029506142, -75.66735709712943),
 (38.92306836936195, -75.66735709712943),
 (39.05781644366248, -75.66735709712943),
 (38.51869752975781, -75.495134068726),
 (38.65344560405834, -75.495134068726),
 (38.78819367835887, -75.495134068726),
 (38.922941752659405, -75.495134068726),
 (39.05768982695994, -75.495134068726)]

In [79]:
test_grid4 = [(40.765261, -74.234681),
 (40.900009074300534, -74.234681),
 (41.03475714860108, -74.234681),
 (41.16950522290161, -74.234681),
 (41.304253297202145, -74.234681),
 (40.76512390235491, -74.05677041972547),
 (40.89987197665545, -74.05677041972547),
 (41.03462005095599, -74.05677041972547),
 (41.169368125256526, -74.05677041972547),
 (41.30411619955705, -74.05677041972547),
 (40.76498680537075, -73.87886020645615),
 (40.89973487967128, -73.87886020645615),
 (41.034482953971825, -73.87886020645615),
 (41.16923102827235, -73.87886020645615),
 (41.30397910257288, -73.87886020645615),
 (40.76484970904751, -73.70095036018775),
 (40.89959778334804, -73.70095036018775),
 (41.034345857648574, -73.70095036018775),
 (41.169093931949114, -73.70095036018775),
 (41.30384200624965, -73.70095036018775),
 (40.76471261338519, -73.52304088091594),
 (40.899460687685725, -73.52304088091594),
 (41.03420876198626, -73.52304088091594),
 (41.168956836286796, -73.52304088091594),
 (41.30370491058733, -73.52304088091594)]

In [54]:
for i in range(60):
    
    try:
        with codecs.open(f'./long_island_max_1000/tweets{i}.json', 'r', 'utf-8') as f:
            tweets = json.load(f, encoding='utf-8')

        list_tweets = [list(elem.values()) for elem in tweets]
        list_columns = list(tweets[0].keys())
        df = pd.DataFrame(list_tweets, columns=list_columns)
        df['latitude'] = test_grid1[i][0]
        df['longitude'] = test_grid1[i][1]

        if i == 0:
            final_df = df

        else:
            final_df = pd.concat([final_df, df])
    
    except:
        pass

In [55]:
final_df.head()

,fullname,html,id,likes,replies,retweets,text,timestamp,url,user,latitude,longitude
0,Arijan Ramku 🌹,"<p class=""TweetTextSize js-tweet-text tweet-te...",263430003797151746,0,0,1,Staten Island #Sandy pic.twitter.com/h0gFWKvp,2012-10-30T23:59:42,/ariramku/status/263430003797151746,ariramku,40.601962,-73.973578
1,мια,"<p class=""TweetTextSize js-tweet-text tweet-te...",263429531082293248,0,0,0,24 hours w/out power. #Sandy,2012-10-30T23:57:49,/miasolx/status/263429531082293248,miasolx,40.601962,-73.973578
2,Deanna,"<p class=""TweetTextSize js-tweet-text tweet-te...",263426428157173760,0,0,0,heading home from Sheepshead bay Cleaning stor...,2012-10-30T23:45:29,/Dbitetti/status/263426428157173760,Dbitetti,40.601962,-73.973578
3,William Bright,"<p class=""TweetTextSize js-tweet-text tweet-te...",263426306811756545,0,0,0,Nathan's Famous Take Home Food. But no power. ...,2012-10-30T23:45:00,/brightfactor/status/263426306811756545,brightfactor,40.601962,-73.973578
4,William Bright,"<p class=""TweetTextSize js-tweet-text tweet-te...",263425970713817088,0,0,0,The Cyclone. Coney Island is still without pow...,2012-10-30T23:43:40,/brightfactor/status/263425970713817088,brightfactor,40.601962,-73.973578

In [56]:
final_df.reset_index(drop=True, inplace=True)

In [57]:
final_df.shape

(6681, 12)

In [58]:
final_df.drop_duplicates(subset=['text'], inplace=True)

In [59]:
final_df.shape

(6566, 12)

In [61]:
for i in range(64):
    
    try:
        with codecs.open(f'./penn_max_1000/tweets{i}.json', 'r', 'utf-8') as f:
            tweets = json.load(f, encoding='utf-8')

        list_tweets = [list(elem.values()) for elem in tweets]
        list_columns = list(tweets[0].keys())
        df = pd.DataFrame(list_tweets, columns=list_columns)
        df['latitude'] = test_grid2[i][0]
        df['longitude'] = test_grid2[i][1]

        if i == 0:
            final_df_penn = df

        else:
            final_df_penn = pd.concat([final_df_penn, df])
    
    except:
        pass

In [63]:
final_df_penn.head()

,fullname,html,id,likes,replies,retweets,text,timestamp,url,user,latitude,longitude
0,Han,"<p class=""TweetTextSize js-tweet-text tweet-te...",263018483137277952,0,0,0,S/O to all the people who left their sunroofs ...,2012-10-29T20:44:27,/h_Szwak/status/263018483137277952,h_Szwak,40.527428,-76.719904
1,Han,"<p class=""TweetTextSize js-tweet-text tweet-te...",262705404033777664,1,0,0,I should probably most definitely be more prep...,2012-10-29T00:00:23,/h_Szwak/status/262705404033777664,h_Szwak,40.527428,-76.719904
0,ash ☯,"<p class=""TweetTextSize js-tweet-text tweet-te...",262606077995151360,0,1,0,People are really freakin' out about this hurr...,2012-10-28T17:25:42,/AsheryCharles/status/262606077995151360,AsheryCharles,40.796924,-76.719904
0,Trisha Kemper,"<p class=""TweetTextSize js-tweet-text tweet-te...",263301210302459906,0,0,0,Who says u can't cook with no power?? #woodsto...,2012-10-30T15:27:55,/TrishaReibsome/status/263301210302459906,TrishaReibsome,40.931672,-76.719904
1,who's that girl? ..it me.,"<p class=""TweetTextSize js-tweet-text tweet-te...",263290451602325504,1,1,1,Gonna have to go out to charge my phone in the...,2012-10-30T14:45:10,/ohgeez_ohno/status/263290451602325504,ohgeez_ohno,40.931672,-76.719904

In [64]:
final_df_penn.reset_index(drop=True, inplace=True)

In [65]:
final_df_penn.shape

(607, 12)

In [66]:
final_df_penn.drop_duplicates(subset=['text'], inplace=True)

In [67]:
final_df_penn.shape

(594, 12)

In [72]:
for i in range(25):
    
    try:
        with codecs.open(f'./delaware_max_1000/tweets{i}.json', 'r', 'utf-8') as f:
            tweets = json.load(f, encoding='utf-8')

        list_tweets = [list(elem.values()) for elem in tweets]
        list_columns = list(tweets[0].keys())
        df = pd.DataFrame(list_tweets, columns=list_columns)
        df['latitude'] = test_grid3[i][0]
        df['longitude'] = test_grid3[i][1]

        if i == 0:
            final_df_delaware = df

        else:
            final_df_delaware = pd.concat([final_df_delaware, df])
    
    except:
        pass

In [73]:
final_df_delaware.head()

,fullname,html,id,likes,replies,retweets,text,timestamp,url,user,latitude,longitude
0,Johnny Smith,"<p class=""TweetTextSize js-tweet-text tweet-te...",263008768340664321,0,0,0,#Sandy starting to be a real bitch !!!! http:/...,2012-10-29T20:05:51,/J_Smith_81/status/263008768340664321,J_Smith_81,38.519204,-76.184028
1,William Jones,"<p class=""TweetTextSize js-tweet-text tweet-te...",262956623650230272,2,1,3,You all told sandy to bring it on and now that...,2012-10-29T16:38:39,/william_jones93/status/262956623650230272,william_jones93,38.519204,-76.184028
2,Janna Elliott,"<p class=""TweetTextSize js-tweet-text tweet-te...",262754823466782720,0,0,1,“@AHurricaneSandy: OPPA HURRICANE STYLE.” @Sar...,2012-10-29T03:16:46,/janna_x0/status/262754823466782720,janna_x0,38.519204,-76.184028
0,Skyler Fike,"<p class=""TweetTextSize js-tweet-text tweet-te...",263280951944167426,0,0,0,Update #3 on Hurricane Sandy http://skylerfike...,2012-10-30T14:07:25,/skyfi/status/263280951944167426,skyfi,38.788700,-76.184028
1,Skyler Fike,"<p class=""TweetTextSize js-tweet-text tweet-te...",262659696220073984,0,0,0,Pre-Hurricane Sandy http://skylerfike.com/2012...,2012-10-28T20:58:46,/skyfi/status/262659696220073984,skyfi,38.788700,-76.184028

In [74]:
final_df_delaware.reset_index(drop=True, inplace=True)

In [75]:
final_df_delaware.shape

(231, 12)

In [76]:
final_df_delaware.drop_duplicates(subset=['text'], inplace=True)

In [77]:
final_df_delaware.shape

(224, 12)

In [80]:
for i in range(25):
    
    try:
        with codecs.open(f'./jersey_max_1000/tweets{i}.json', 'r', 'utf-8') as f:
            tweets = json.load(f, encoding='utf-8')

        list_tweets = [list(elem.values()) for elem in tweets]
        list_columns = list(tweets[0].keys())
        df = pd.DataFrame(list_tweets, columns=list_columns)
        df['latitude'] = test_grid4[i][0]
        df['longitude'] = test_grid4[i][1]

        if i == 0:
            final_df_jersey = df

        else:
            final_df_jersey = pd.concat([final_df_jersey, df])
    
    except:
        pass

In [81]:
final_df_jersey.head()

,fullname,html,id,likes,replies,retweets,text,timestamp,url,user,latitude,longitude
0,IceDaddyMackk_,"<p class=""TweetTextSize js-tweet-text tweet-te...",262703551984324608,1,0,4,Giants fans can honestly go outside when Sandy...,2012-10-28T23:53:02,/IceDaddyMackk_/status/262703551984324608,IceDaddyMackk_,40.765261,-74.234681
1,IssaFatBeardy,"<p class=""TweetTextSize js-tweet-text tweet-te...",262702810343288832,0,0,0,"Sandy took one of Deeva's bows, shes feeling u...",2012-10-28T23:50:05,/DLano973/status/262702810343288832,DLano973,40.765261,-74.234681
2,Ana Karen,"<p class=""TweetTextSize js-tweet-text tweet-te...",262702202769006592,0,0,0,Everything closed from now til supp Tuesday bc...,2012-10-28T23:47:40,/anakarenmarte/status/262702202769006592,anakarenmarte,40.765261,-74.234681
3,07079,"<p class=""TweetTextSize js-tweet-text tweet-te...",262701906718253056,0,0,0,"Locals Hit the Stores on Sunday, Hours Before ...",2012-10-28T23:46:29,/07079/status/262701906718253056,07079,40.765261,-74.234681
4,07041,"<p class=""TweetTextSize js-tweet-text tweet-te...",262701891065114624,0,0,0,Closed Due to Hurricane Sandy http://bit.ly/UW...,2012-10-28T23:46:26,/07041/status/262701891065114624,07041,40.765261,-74.234681

In [82]:
final_df_jersey.reset_index(drop=True, inplace=True)

In [83]:
final_df_jersey.shape

(6155, 12)

In [84]:
final_df_jersey.drop_duplicates(subset=['text'], inplace=True)

In [85]:
final_df_jersey.shape

(6000, 12)

In [87]:
final_df = pd.concat([final_df, final_df_delaware, final_df_jersey, final_df_penn])

In [88]:
final_df.shape

(13384, 12)

In [89]:
final_df.drop_duplicates(subset=['text'], inplace=True)

In [90]:
final_df.shape

(10534, 12)

In [104]:
final_df.reset_index(drop=True, inplace=True)

In [105]:
final_df.to_csv('./tweets.csv')